.window{
    display: flex;
    flex-direction: column;
}
.userDetailsNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userDetails{
    background-color: #5863F8;
    border-radius: 25px;
    display: block;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
button{
    border-radius: 10px;
    width: 15%;
}