<div class="panel">
    <div class="userDetails" *ngIf="user!==undefined">
        <div class="userDetailsNav">
            <img class="profileImage" src={{user.image}} alt="profileImage">
            <div class="close-x" (click)="userDetailClose()"></div>
        </div>
        <p><b>First name: </b>{{user.firstName}}</p>
        <p><b>Last Name: </b>{{user.lastName}}</p>
        <p><b>User name: </b>{{user.username}}</p>
        <p><b>BirthDate: </b>{{user.birthDate}}</p>
        <p><b>Eye color: </b>{{user.eyeColor}}</p>
        <p><b>University: </b>{{user.university}}</p>
        <p><b>Mac Address: </b>{{user.macAddress}}</p>
        <p><b>Ip Address: </b>{{user.ip}}</p>
        <p><b>City: </b>{{user.address.city}}</p>
        <p><b>Testing gender: </b>{{gender}}</p>
        <p><b>Information about home state: </b>{{state}}</p>
    </div>
    <div class="chats" *ngIf="user==undefined">
        <div class="chat" *ngFor="let chat of this.chatService.chats;" (click)="selectChat(chat.users[0])">
            <p>To: {{chat.users[0].firstName}}</p>
            <p *ngIf="chat.messages.length>0">Last message: {{chat.messages[chat.messages.length - 1].message}}</p>
            <p *ngIf="chat.messages.length>0">Date: {{chat.messages[chat.messages.length - 1].sendDate}}</p>
        </div>

    </div>
</div>
