<div class="panel">
    <div class="userDetails">
        <div class="userDetailsNav">
            <img alt="profileImage">
            <button>Back</button>
        </div>
        <p>Krstné meno: </p>
        <p>Priezvisko: </p>
        <p>Používateľské meno: </p>
        <p>Dátum narodenia: </p>
        <p>Farba očí: </p>
        <p>Univerzita: </p>
        <p>Mac Adresa: </p>
        <p>Ip Adresa: </p>
        <p>Mesto: </p>
        <p>Testovacie pohlavie: </p>
        <p>Informácie o domovskom štáte: </p>
    </div>
</div>