@import '../../../../styles.scss';

footer{
    margin-top: 5vh;
    height: 15vh;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}